<div class="dialogMargin">
    
        <h2 mat-dialog-title>Create Client</h2>
    
        <mat-dialog-content>

            <form [formGroup]="createClientForm" (submit)="onSubmit()">

                <div>
            
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput id="name" formControlName="name">
                </mat-form-field>
                </div>
                <div>
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput id="contact" formControlName="contact">
                </mat-form-field>
                </div>

            


            

                <div>
                <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput id="birthday" formControlName="birthday">
                </mat-form-field>
                </div>



        <mat-dialog-actions>
            <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
            <button mat-button mat-dialog-close>No</button>

          </mat-dialog-actions>


    </form>
</mat-dialog-content>

</div>