.mainWrap {

    display: flex;
    height: 100vh;

}

.sideBar {
    background-color: rgb(38, 39, 38);
   

}

.images {
    width: 5vw;
    height: 5vw;
    background-image: url("../../assets/inventory_2_24dp_FILL0_wght400_GRAD0_opsz24.png");
    background-position: center;
    background-size: cover;
}

.sideBarButtons {
    display: flex;
}