.mainWrap {

    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/coolbackss.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -5vw;
    


}

.sideBar {


background-color: rgba(8, 19, 70, 0.527);
backdrop-filter: blur(10px);


 
   

}

.logoWrap {
    width: 100%;
    height: 20%;
    background-image: url("../../assets/adendorfflogo.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;

}

.images {
    width: 5vw;
    height: 5vw;
    background-image: url("../../assets/inventory_2_24dp_FILL0_wght400_GRAD0_opsz24.png");
    background-position: center;
    background-size: cover;
}

.svvg {
    width: calc(0.5cm + 1vw);
    height: calc(0.5cm + 1vw);
    margin-left: calc(.1cm + .2vw);
    margin-right: calc(.1cm + .2vw);

}

.sideBarButtons {
    display: flex;
    margin-bottom: calc(.2cm + .2vw);
}