
<div class="mainWrap">

    <div class="sideBar"> 
       <div class="logoWrap"></div> 
       <div class="sideBarButtons" (click)="toAgenda()"><img class="svvg" src="assets/agenda.svg"><h2 style="margin: auto;">Agenda</h2></div>

        <div class="sideBarButtons" (click)="toClient()"><img class="svvg" src="assets/group.png"><h2>clients</h2></div>
        <div class="sideBarButtons" (click)="toInventory()"> <img class="svvg" src="assets/inventory.svg">
        <h2>inventory</h2></div>
        <div class="sideBarButtons" (click)="toBilling()"> <div ><img class="svvg" src="assets/bill.svg"></div><h2>billing</h2></div>
        <div class="sideBarButtons" (click)="toDayEnd()"><div ><img class="svvg" src="assets/dayend.svg"></div><h2>day-end</h2></div>

    </div>
<div><router-outlet></router-outlet></div>



</div>



