 .addClientButton {
    
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    box-shadow: 0px 2px 20px 20px rgba(11, 234, 254, 0.064);
    background-color: rgb(47, 73, 65);
    margin: 10%;

 }

 .recentBox {
    width: 30vw;
    height: 50vh;
    background-color: rgb(67, 67, 68);
}

 .wrapper {
    margin: 15%;
 }

 .clientInsance {
    margin-top: 4px ;
 }