/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100vw;
background-color: rgb(26, 34, 45);}
body {padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {padding: 0; margin: 0;}


p {
    color: rgba(240, 248, 255, 0.708);
}

h1 {
    color: rgba(240, 248, 255, 0.708);
}

h2 {
    color: rgba(240, 248, 255, 0.708);
}

h3 {
    color: rgba(240, 248, 255, 0.708);
}

li {
    color: rgba(240, 248, 255, 0.708);

}

mat-card-title {
    color: rgba(240, 248, 255, 0.708);

}
