/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
background-color: rgb(28, 29, 29);}
body {padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {padding: 0; margin: 0;}


p {
    color: rgba(240, 248, 255, 0.814);
}

h1 {
    color: rgba(240, 248, 255, 0.814);
}

h2 {
    color: rgba(240, 248, 255, 0.814);
}

h3 {
    color: rgba(240, 248, 255, 0.814);
}

